.navbar{
  padding-top: 0;
  padding-bottom: 0;

  .nav-item{
    color: #FBCE58!important;
  }
}

.navbar-padding{
  padding-left: 50px;
  background: #052527!important;
  color: #FBCE58!important;
  backdrop-filter: blur(20px);
  position: sticky;
  z-index: 1500;
  width: 100%;
}

.navbar-brand{
  color: #FBCE58!important;
  text-decoration: none!important;
}

.navbar-brand img{
  width: 70px;
  padding-top: 0;
  margin-right: 20px;
}

.navbar-nav.ml-auto{
  margin-left: 20px;
}

.btn-sign{
  text-decoration: none;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  font-weight: 700;
  font-size: 14px;
  color: #FBCE58;
  padding: 0px 15px;
  margin: 0 auto;
  position: relative;
  right: 15px;
}

.gold-link{
  color: #FBCE58!important;
}
