
.custom-modal-title{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Modern Antiqua', cursive;
}

.modal-custom {
  background: #052527;
  text-align: center;
  font-family: 'Modern Antiqua', cursive;
  height: 52vh;
  width: 39vw;
  z-index: 50;
  color: #e6ccb2;
  overflow-y: scroll;
  overflow-x : hidden;
  text-shadow: 1px 1px 1px #444;
  box-shadow: 10px 10px 15px #333;
}

.modal-position{
  position: absolute;
  top: 15px;
  left: 150px;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid 2px #e09f3e;
 // background: radial-gradient(circle, rgba(5, 37, 39, 1) 62%, rgba(5, 5, 3, 1) 100%, rgba(2, 54, 71, 1) 100%);
  background-image: url('hm2.png');
  //background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: relative;
}

.custom-modal-body{
  padding: 10px;
}

.modal-close-button {
  font-size: 1.9rem;
  font-weight: 700;
  color: #e6ccb2;
  cursor: pointer;
  background: #222;
  border: solid 1px #e6ccb2;
  width: 26px;
  height: 26px;
  position: absolute;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1700px) {
  .modal-position{
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .modal-custom {
    height: 60vh;
    width: 52vw;
    overflow-y: scroll;
    overflow-x : hidden
  }
}