.inventaire-item{
  &.commun{
    border: solid 1px #98c1d9;
  }
  &.peu-commun{
    border: solid 1px #98c1d9;
  }
  &.rare{
    border: solid 1px #98c1d9;
  }
  &.epique{
    border: solid 1px #98c1d9;
  }
  &.legendaire{
    border: solid 1px #98c1d9;
  }
  &.heroique{
    border: solid 1px #98c1d9;
  }
}

.inventaire-item-case-img{
  width: 68px;
  height: 68px;
}

.inventaire-item-case-quantity{
  position: absolute;
  left: 3px;
  top: 0;
  z-index: 100;
  color: antiquewhite;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1700px) and (max-width: 1980px) {
  .inventaire-item-case-img{
    width: 58px;
    height: 58px;
  }
}

@media (max-width: 1700px) {
  .inventaire-item-case-img{
    width: 48px;
    height: 48px;
  }
}